---
import Layout from "../components/layout.astro";
import PostListing from "../components/post/post-list.astro";
import { posts } from "../helpers";
---

<Layout enable_footer={false}>
  <h1>联系方式</h1>
  <p>QQ：524562783</p>
  <p>微信：zhou13651033473</p>
</Layout>
