---
import { FOOTER_CONTENT } from "../config";
---

<footer>
  <p>
    <mark>QQ：524562783</mark>
  </p>
  <p>
    <mark>微信：zhou13651033473</mark>
  </p>
</footer>

<style>
  footer p {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
  }
</style>
